# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Collision.iml
# Datasource local storage ignored files
/../../../../../../:\geodata\arc-gispro-python-net-licensing-collision\.idea\.idea.Collision\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
